{% extends "layouts/base.njk" %} {% block content %} {% include
"includes/loginMessages.njk" %}
<section>
    <div class="page-header min-vh-100">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-lg-5 col-md-7 d-flex flex-column mx-lg-0 mx-auto">
                    <div class="card card-plain">
                        <div class="card-header pb-0 text-left">
                            <h4 class="font-weight-bolder">فراموشی رمز عبور</h4>
                            <p class="mb-0">
                                حداکثر ظرف 60 ثانیه یک ایمیل دریافت خواهید کرد
                            </p>
                        </div>
                        <div class="card-body">
                            <form>
                                <div class="mb-3 form-floating">
                                    <input type="email" name="email" class="form-control mb-2" id="floatingInput"
                                        placeholder="آدرس ایمیل" />
                                    <label for="floatingInput">آدرس ایمیل</label>
                                </div>
                                <div class="text-center">
                                    <button type="button" class="btn bg-gradient-dark btn-lg w-100 my-4">
                                        ارسال
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div
                    class="col-6 d-lg-flex d-none h-100 my-auto pe-0 position-absolute top-0 end-0 text-center justify-content-center flex-column">
                    <div
                        class="position-relative bg-gradient-dark h-100 m-3 px-7 border-radius-lg d-flex flex-column justify-content-center">
                        <img src="/img/shapes/pattern-lines.svg" alt="pattern-lines"
                            class="position-absolute opacity-4 start-0" />
                        <div class="position-relative">
                            <img class="max-width-500 w-100 position-relative z-index-2"
                                src="/img/illustrations/lock.png" alt="locked" />
                        </div>
                        <h4 class="mt-5 text-white font-weight-bolder">
                            رمزت رو فراموش کردی ؟
                        </h4>
                        <p class="text-white">
                            ایمیلت رو وارد کن، لینک ریست پسورد رو برات میفرستیم
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}