{% extends "layouts/base.njk" %} {% block content %}
<!-- Navbar -->
<nav class="navbar navbar-expand-lg position-absolute top-0 z-index-3 w-100 shadow-none my-3 navbar-transparent mt-4">
  <div class="container">
    <a class="navbar-brand font-weight-bolder ms-lg-0 ms-3 text-white" href="/">رُگا</a>
    <button class="navbar-toggler shadow-none ms-2" type="button" data-bs-toggle="collapse" data-bs-target="#navigation"
      aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon mt-2">
        <span class="navbar-toggler-bar bar1"></span>
        <span class="navbar-toggler-bar bar2"></span>
        <span class="navbar-toggler-bar bar3"></span>
      </span>
    </button>
    <div class="collapse navbar-collapse" id="navigation">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <a class="nav-link me-2" href="/"> خانه </a>
        </li>
        <li class="nav-item">
          <a class="nav-link me-2" href="/users/register">ثبت نام</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- End Navbar -->
<section>
  <div class="page-header align-items-start min-vh-50 pt-5 pb-11 m-3 border-radius-lg"
    style="background-image: url('/img/curved-images/curved8.jpg')">
    <span class="mask bg-gradient-dark opacity-6"></span>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-5 text-center mx-auto">
          <h1 class="text-white mb-2 mt-5">سلام رفیق !</h1>
          <p class="text-lead text-white">
            برای ورود به وبلاگ فرم زیر را کامل کنید
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row mt-lg-n10 mt-md-n12 mt-n11">
      <div class="col-xl-4 col-lg-5 col-md-7 mx-auto">
        <div class="card z-index-0 shadow-card shadow-lg mb-6">
          <div class="card-header text-center pt-4">
            {% include "includes/messages.njk" %} {% if errors | length > 0 %}
            {% for error in errors %} {% if error.field == "global" %}

            <p class="text-danger font-weight-bold error-text ms-2">
              {{ error.message }}
            </p>

            {% endif %} {% endfor %} {% endif %}
            <h5>ورود</h5>
          </div>

          <div class="card-body">
            <form role="form" method="post" action="/users/login">
              <div class="mb-3 form-floating">
                <input type="email" name="email" class="form-control mb-2" id="floatingInput"
                  placeholder="آدرس ایمیل" />
                <label for="floatingInput">آدرس ایمیل</label>
              </div>
              {% if errors | length > 0 %} {% for error in errors %} {% if
              error.field == "email" %}

              <p class="text-danger font-weight-bold error-text ms-2">
                {{ error.message }}
              </p>

              {% endif %} {% endfor %} {% endif %}
              <div class="mb-3 form-floating">
                <input type="password" name="password" class="form-control" id="floatingPassword"
                  placeholder="کلمه عبور" />
                <label for="floatingPassword">کلمه عبور</label>
              </div>

              <p class="text-sm my-3">
                رمز خود را فراموش کردید ؟
                <a href="/users/forget-password" class="text-dark font-weight-bolder">ریست پسورد</a>
              </p>

              {% if errors | length > 0 %} {% for error in errors %} {% if
              error.field == "password" %}

              <p class="text-danger font-weight-bold error-text ms-2">
                {{ error.message }}
              </p>

              {% endif %} {% endfor %} {% endif %}
              <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="rememberMe" name="remember" />
                <label class="form-check-label" for="rememberMe">مرا به خاطر بسپار</label>
              </div>

              <div class="text-center">
                <button class="btn bg-gradient-dark w-100 my-4 mb-2 g-recaptcha" type="submit"
                  data-sitekey="6LeB0mkfAAAAAG4GdgAnCYyazx8iZblackM2wVVr" data-callback="onSubmit" data-action="submit">
                  ورود
                </button>
              </div>
              <p class="text-sm mt-3 mb-0">
                حساب کاربری ندارید ؟
                <a href="/users/register" class="text-dark font-weight-bolder">ثبت نام</a>
              </p>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
