{% extends "layouts/base.njk" %} {% block content %}
<!-- Navbar -->
<nav class="navbar navbar-expand-lg position-absolute top-0 z-index-3 w-100 shadow-none my-3 navbar-transparent mt-4">
  <div class="container">
    <a class="navbar-brand font-weight-bolder ms-lg-0 ms-3 text-white" href="/">وبلاگ ما</a>
    <button class="navbar-toggler shadow-none ms-2" type="button" data-bs-toggle="collapse" data-bs-target="#navigation"
      aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon mt-2">
        <span class="navbar-toggler-bar bar1"></span>
        <span class="navbar-toggler-bar bar2"></span>
        <span class="navbar-toggler-bar bar3"></span>
      </span>
    </button>
    <div class="collapse navbar-collapse" id="navigation">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <a class="nav-link me-2" href="/"> خانه </a>
        </li>
        <li class="nav-item">
          <a class="nav-link me-2" href="/users/login"> ورود </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- End Navbar -->
<main class="main-content mt-0">
  <div class="page-header align-items-start min-vh-50 pt-5 pb-11 m-3 border-radius-lg" style="
      background-image: url('https://raw.githubusercontent.com/creativetimofficial/public-assets/master/argon-dashboard-pro/assets/img/signup-cover.jpg');
      background-position: top;
    ">
    <span class="mask bg-gradient-dark opacity-6"></span>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-5 text-center mx-auto">
          <h1 class="text-white mb-2 mt-5">خوش آمدید !</h1>
          <p class="text-lead text-white">
            برای ثبت نام در وبلاگ فرم زیر را کامل کنید
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="container mb-6">
    <div class="row mt-lg-n10 mt-md-n11 mt-n10 justify-content-center">
      <div class="col-xl-4 col-lg-5 col-md-7 mx-auto">
        <div class="card z-index-0">
          <div class="card-header text-center pt-4">
            <h5>ثبت نام</h5>
          </div>

          <div class="card-body shadow-card shadow-xl">
            <form role="form" method="post" action="/users/register">
              <div class="mb-3 form-floating">
                <input type="text" class="form-control mb-2" id="floatingFullname" placeholder="نام و نام خانوادگی"
                  name="fullname" />
                <label for="floatingFullname">نام و نام خانوادگی</label>
              </div>
              {% if errors | length > 0 %} {% for error in errors %} {% if
              error.field == "fullname" %}

              <p class="text-danger font-weight-bold error-text ms-2">
                {{ error.message }}
              </p>

              {% endif %} {% endfor %} {% endif %}
              <div class="mb-3 form-floating">
                <input type="email" class="form-control mb-2" id="floatingInput" placeholder="آدرس ایمیل"
                  name="email" />
                <label for="floatingInput">آدرس ایمیل</label>
              </div>
              {% if errors | length > 0 %} {% for error in errors %} {% if
              error.field == "email" %}

              <p class="text-danger font-weight-bold error-text ms-2">
                {{ error.message }}
              </p>

              {% endif %} {% endfor %} {% endif %}
              <div class="mb-3 form-floating">
                <input type="password" class="form-control" id="floatingPassword" placeholder="کلمه عبور"
                  name="password" />
                <label for="floatingPassword">کلمه عبور</label>
              </div>
              {% if errors | length > 0 %} {% for error in errors %} {% if
              error.field == "password" %}

              <p class="text-danger font-weight-bold error-text ms-2">
                {{ error.message }}
              </p>

              {% endif %} {% endfor %} {% endif %}
              <div class="mb-3 form-floating">
                <input type="password" class="form-control" id="floatingConfirmPassword" placeholder="تکرار کلمه عبور"
                  name="confirmPassword" />
                <label for="floatingConfirmPassword">تکرار کلمه عبور</label>
              </div>

              {% if errors | length > 0 %} {% for error in errors %} {% if
              error.field == "confirmPassword" %}

              <p class="text-danger font-weight-bold error-text ms-2">
                {{ error.message }}
              </p>

              {% endif %} {% endfor %} {% endif %}

              <div class="form-check form-check-info text-start">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" checked />
                <label class="form-check-label" for="flexCheckDefault">
                  با
                  <a href="/terms" class="text-dark font-weight-bolder">قوانین و مقررات</a>
                  موافقم
                </label>
              </div>
              <div class="text-center">
                <button class="btn bg-gradient-dark w-100 my-4 mb-2 g-recaptcha" type="submit"
                  data-sitekey="6LeB0mkfAAAAAG4GdgAnCYyazx8iZblackM2wVVr" data-callback="onSubmit" data-action="submit">
                  ثبت نام
                </button>
              </div>
              <p class="text-sm mt-3 mb-0">
                حساب کاربری دارید ؟
                <a href="/users/login" class="text-dark font-weight-bolder">ورود</a>
              </p>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

{% endblock %}
