{% extends "layouts/base.njk" %} {% block content %}
<footer class="footer mt-4 py-5 bg-gradient-dark position-relative overflow-hidden">
    <img src="/img/shapes/waves-white.svg" alt="pattern-lines"
        class="position-absolute start-0 top-0 w-100 opacity-6" />
    <div class="container">
        <div class="row">
            <div class="col-lg-4 me-auto mb-lg-0 mb-4 text-lg-start text-center">
                <h6 class="text-white font-weight-bolder letter-spacing-3 display-4 mb-lg-4 mb-3">
                    رُگا
                </h6>
                <ul class="nav flex-row ms-n3 justify-content-lg-start justify-content-center mb-4 mt-sm-0">
                    <li class="nav-item">
                        <a class="nav-link text-white opacity-8" href="/" target="_blank">
                            خانه
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white opacity-8" href="/about-us" target="_blank">
                            درباره ما
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white opacity-8" href="/contact-us" target="_blank">
                            تماس با ما
                        </a>
                    </li>

                </ul>
                <p class="text-sm text-white opacity-8 mb-0">
                    تمامی حقوق مادی و معنوی این سایت متعلق به نوین وب می باشد
                </p>
            </div>
            <div class="col-lg-7 ms-auto text-lg-end text-center">
                <p class="mb-5 h6 text-white font-weight-bold">
                    پاداش حضور در صحنه شهرت است. بهای شهرت این است که شما نمی
                    توانید از صحنه خارج شوید .
                </p>
                <a href="https://www.instagram.com/erfan99sadeqi/" target="_blank"
                    class="text-white me-xl-4 me-4 opacity-5">
                    <span class="fa fa-instagram"></span>
                </a>
                <a href="https://github.com/erfuun" target="_blank" class="text-white me-xl-4 me-4 opacity-5">
                    <span class="fa fa-github"></span>
                </a>
                <a href="https://www.linkedin.com/in/erfan-sadeghinezhad/javascript:;" target="_blank"
                    class="text-white me-xl-4 me-4 opacity-5">
                    <span class="fa fa-linkedin"></span>
                </a>
            </div>
        </div>
    </div>
</footer>
{% endblock %}
