<!DOCTYPE html>
<html dir="rtl" lang="fa">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
  <link rel="stylesheet" href="/css/font-awesome.min.css" />
  <link rel="stylesheet" href="/css/styles.css" />
  <link href="/css/nucleo-icons.rtl.css" rel="stylesheet" />
  <link href="/css/nucleo-svg.rtl.css" rel="stylesheet" />
  <link id="pagestyle" href="/css/soft-design-system.rtl.css" rel="stylesheet" />
  {% if path == "/login" or path == "/register" or path == "/contact-us" %}
  <script src="https://www.google.com/recaptcha/api.js?hl=fa" async defer></script>
  <script>
    function onSubmit(token) {
      document.querySelector("form").submit();
    }
  </script>
  {% endif %} {% if path == "/404" %}
  <link rel="stylesheet" href="/css/404.css" />
  {% endif %} {% if path == "/500" %}
  <link rel="stylesheet" href="/css/500.css" />
  {% endif %}
  <title>{{ pageTitle }}</title>
</head>

<body>
  {% block content %}{% endblock %} {% block scripts %}{% endblock %}
  <script src="/js/bootstrap.bundle.min.js"></script>
</body>

</html>
