<%- include('./includes/navbar.ejs') %>
<div class="container mt-5">
    <div class="row">
        <div class="col">
            <%- include('./includes/blogPost.ejs') %>
            <%- include('./includes/pagination.ejs') %>
        </div>
    </div>
</div>

<%- include('./includes/footer.ejs') %>