<div class="container">
    <h1>وبلاگ ساده من</h1>
    <span class="fa fa-plus"></span>
    <button class="btn btn-primary">سلام</button>
    <button class="btn btn-outline-danger">Click</button>
</div>