<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap-rtl.css">
    <link rel="stylesheet" href="/css/font-awesome.css">
    <title><%= pageTitle %> </title>
</head>

<body class="container rtl">
    <h1>وبلاگ ساده من</h1>
    <span class="fa fa-plus"></span>
    <button class="btn btn-primary">سلام</button>
    <button class="">Click</button>
</body>

</html>