<main class="form-signin">
    <form>
        <h1 class="h3 mb-3 fw-normal">ورود به بخش مدیریت</h1>

        <div class="form-floating">
            <input type="email" class="form-control" id="floatingInput" placeholder="آدرس ایمیل">
        </div>
        <div class="form-floating">
            <input type="password" class="form-control" id="floatingPassword" placeholder="کلمه عبور">
        </div>

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" value="remember-me"> من را به خاطر بسپار
            </label>
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit">ورود</button>
        <p class="mt-5 mb-3 text-muted">&copy; 2017–2021</p>
    </form>
</main>