<form action="/users/reset-password/<%= userId %>" method="POST" id="loginForm" class="form-signin">
    <h1 class="h3 mb-3 font-weight-normal">تغییر رمز عبور</h1>
    <%- include('./includes/loginmessages.ejs') %>
    <label for="inputPassword" class="sr-only">کلمه عبور</label>
    <input type="password" id="inputPassword" name="password" class="form-control mb-2" placeholder="کلمه عبور جدید"
        required>
    <label for="inputConfirmPassword" class="sr-only">کلمه عبور</label>
    <input type="password" id="inputConfirmPassword" name="confirmPassword" class="form-control mb-2"
        placeholder="تکرار کلمه عبور جدید" required>
    <button class="btn btn-lg btn-primary btn-block" type="submit">ریست رمز عبور</button>
</form>