<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <h1>
                    گشتم نبود نگرد نیست
                </h1>
                <h2>
                    خطای 404
                </h2>
                <div class="error-details">
                    صفحه درخواستی شما یافت نشد
                </div>
                <div class="error-actions">
                    <a href="/" class="btn btn-primary btn-lg"><span class="fa fa-home"></span>
                        خانه
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>