{% extends "layouts/base.njk" %} {% block content %}
<div class="mars"></div>
<img src="https://assets.codepen.io/1538474/404.svg" class="logo-404" />
<img src="https://assets.codepen.io/1538474/meteor.svg" class="meteor" />
<p class="title">یافت نشد !!</p>
<p class="subtitle">
    چنین صفحه‌ای پیدا نشد <br />با عرض پوزش از شما، چنین صفحه‌ای در سایت وجود
    ندارد یا این صفحه از سایت پاک شده است.
</p>
<div align="center">
    <a class="btn-back" href="/">صفحه اصلی</a>
</div>
<img src="https://assets.codepen.io/1538474/astronaut.svg" class="astronaut" />
<img src="https://assets.codepen.io/1538474/spaceship.svg" class="spaceship" />
{% endblock %}