{% extends "layouts/base.njk" %} {% block content %} {% include "includes/navbar.njk" %}
<header class="bg-gradient-dark">
  <div class="page-header min-vh-75" style="background-image: url('/img/office-dark.jpg');">
    <span class="mask bg-gradient-dark opacity-8"></span>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8 text-center mx-auto my-auto">
          <h1 class="text-white">با طراحی شگفت انگیز کار کنید</h1>
          <p class="lead mb-4 text-white opacity-8">ما دائماً در تلاش هستیم تا خودمان را بیان کنیم و رویاهای شما را به
            فعلیت برسانیم. اگر فرصت دارید این بازی را انجام دهید</p>
        </div>
      </div>
    </div>
    <div class="position-absolute w-100 z-index-1 bottom-0">
      <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
        viewBox="0 24 150 40" preserveAspectRatio="none" shape-rendering="auto">
        <defs>
          <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
        </defs>
        <g class="moving-waves">
          <use xlink:href="#gentle-wave" x="48" y="-1" fill="rgba(255,255,255,0.40" />
          <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.35)" />
          <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.25)" />
          <use xlink:href="#gentle-wave" x="48" y="8" fill="rgba(255,255,255,0.20)" />
          <use xlink:href="#gentle-wave" x="48" y="13" fill="rgba(255,255,255,0.15)" />
          <use xlink:href="#gentle-wave" x="48" y="16" fill="rgba(255,255,255,1" />
        </g>
      </svg>
    </div>
  </div>
</header>
<section class="pb-5 position-relative">
  <div class="container">
    <div class="row">
      <div class="col-md-8 text-start mb-5 mt-5">
        <h3 class="text-dark z-index-1 position-relative">تیم اجرایی</h3>
        <p class="text-dark opacity-8 mb-0">هیچ کاری که واقعاً بخواهم در زندگی انجام دهم وجود ندارد که نتوانم در آن خوب
          باشم. این مهارت من است.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-12">
        <div class="card card-profile overflow-hidden">
          <div class="row">
            <div class="col-lg-4 col-md-6 col-12 pe-lg-0">
              <a href="javascript:;">
                <div class="p-3 pe-md-0">
                  <img class="w-100 border-radius-md" src="/img/mohammad-hossein.jpg" alt="image">
                </div>
              </a>
            </div>
            <div class="col-lg-8 col-md-6 col-12 ps-lg-0 my-auto">
              <div class="card-body">
                <h5 class="mb-0">سید محمد حسین نبوی</h5>
                <h6 class="text-info">توسعه دهنده</h6>
                <p class="mb-0">برنامه نویس خودآموز
                </p>
                <div class="d-flex justify-content-center pt-4">
                  <a href="https://github.com/smhn24/" target="_blank"><i
                      class="fa fa-github text-lg text-info me-4"></i></a>
                  <a href="https://instagram.com/smhn.24/" target="_blank"><i
                      class="fa fa-instagram text-lg text-info me-4"></i></a>
                  <a href="https://linkedin.com/in/smhn24/" target="_blank"><i
                      class="fa fa-linkedin text-lg text-info me-4"></i></a>
                  <a href="https://wa.me/989019989386/" target="_blank"><i
                      class="fa fa-whatsapp text-lg text-info"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-12">
        <div class="card card-profile mt-lg-0 mt-5 overflow-hidden">
          <div class="row">
            <div class="col-lg-4 col-md-6 col-12 pe-lg-0">
              <a href="javascript:;">
                <div class="p-3 pe-md-0">
                  <img class="w-100 border-radius-md" src="/img/erfan.jpg" alt="image">
                </div>
              </a>
            </div>
            <div class="col-lg-8 col-md-6 col-12 ps-lg-0 my-auto">
              <div class="card-body">
                <h5 class="mb-0">عرفان صادقی نژاد</h5>
                <h6 class="text-info">توسعه دهنده</h6>
                <p>هنرمند اصطلاحی است که به شخصی اطلاق می‌شود که به فعالیتی می‌پردازد که هنر تلقی می‌شود.</p>

                <div class="d-flex justify-content-center pt-4">
                  <a href="https://github.com/erfuun/"><i class="fa fa-github text-lg text-info me-4"></i></a>
                  <a href="https://www.instagram.com/erfan99sadeqi/"><i
                      class="fa fa-instagram text-lg text-info me-4"></i></a>
                  <a href="https://www.linkedin.com/in/erfan-sadeghinezhad/"><i
                      class="fa fa-linkedin text-lg text-info me-4"></i></a>
                  <a href="javascript:;"><i class="fa fa-whatsapp text-lg text-info"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% include "includes/footer.njk" %}
{% endblock %}